/* Contact form */
#contact-form{
    margin: 30px 0px 60px 0px;
}
.contact-div{
    padding: 70px 30% 50px 30%;
}
#contact-form h1{
    font-size: 40px;
}
#contact-form p{
    padding-bottom: 20px;
}
#contact-form .form-group{
    margin-bottom: 10px;
}
#contact-form label{
    display: block;
    margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    outline: none;
}

/* Mobile Styling */
@media (max-width: 500px) {
    #contact-form{
        background-color: #000;
        margin: 100px 0 0 0;
    }
    .contact-div{
        color: #fff;
        padding: 50px 10%;
    }
    #contact-form input,
    #contact-form textarea{
        width: 100%;
        padding: 10px;
        background-color: rgb(34, 34, 34);
        outline: none;
        border:rgb(34, 34, 34)
    }
    #contact-form h1{
        font-size: 45px;
    }
    input,textarea{
        caret-color: #fff;
    }
    #contact-form p{
        font-size: 20px;
    }
    #contact-form label{
        font-size: 20px;
    }

}