/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}

/* Nav Bar */
header{
    position: fixed;
    width: 100%;
    overflow:hidden;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);
    padding: 20px 70px;
}
header ul li a:hover,
header ul li a.current{
    color: #1a9494;
}
header a{
    color: #fff;
}
.nav-links{
    display: flex;
}
.nav-item a {
    display: inline-block;
    padding: 10px 20px;
}
.logo {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

/* Welcome */
#welcome{
    margin-top: 81px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/b-img.jpg) no-repeat center center/cover;
    background-position: right;
    width: 100%;
}
.welcome-content{
    color: #fff;
}
.first-intro{
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 500;
}
.intro{
    font-size: 4em;
    font-weight: 700;
}
.intro span{
    color: #1a9494;
}
.lead{
    font-size: 2em;
    font-weight: 500;
}
.btn{
    /* position: absolute; */
    display: inline-block;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    background: #1a9494;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    transition-property: background;
    transition-duration: 2s;
    text-transform: uppercase;
}
.btn:hover{
    background: #194646;
    color: #fff; 
}

/* Contact form */
#contact-form{
    margin: 40px 30%;
}
#contact-form h1{
    font-size: 40px;
}
#contact-form p{
    padding-bottom: 20px;
}
#contact-form .form-group{
    margin-bottom: 10px;
}
#contact-form label{
    display: block;
    margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

/* footer */
#main-footer{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 10%;
    padding: 10px 50px;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    display: flex;
}
.icon-item a {
    display: inline-block;
    padding: 0px 10px;
}
.copyright{
    display: inline-block;
    font-size: 13px;
    color: rgb(71, 71, 71);
}
.fa {
    padding: 5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
} 
.fa:hover {
    opacity: 0.7;
    transform: rotate(180);
    transform: skew(25);
    transform: scale(1.5);
}
.fa-facebook,
.fa-linkedin,
.fa-github,
.fa-twitter {
    color: #00FFFF;
}

.copyright{
    font-size: 13px;
    color: rgb(71, 71, 71);
}



@media (max-width: 500px) { 
    /*nav bar */
    .desktop{
        display: none;
    }
    header{
        padding: 0 15px;
        
    }
    header .nav-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links li a{
        display: block;
        padding: 15px 5px;
    }
    .logo{
        font-size: 20px;
    }
    .toggle{
        order: 1;
        font-size: 20px;
        padding: 7.5px 10px 7.5px 0;
    }
    .nav-item{
        order: 2;
        width: 100%;
        text-align: center;
        display: none;
        padding: 10px;
    }
    .active .nav-item {
        display: block;
    }
    #welcome{
        margin-top: 57px;
        height: 95vh;
        width: 100%;
    }
    .first-intro{
        font-size: 3em;
    }
    .intro{
        font-size: 2em;
        line-height: 1.5em;
    }
    .lead{
        font-size: 1.5em;

    }
    .btn{
        /* position: absolute; */
        margin-top: 25px;
        padding: 13px 20px;
    }

}

@media (min-width:501px) and (max-width:768px) {
    
}
@media (min-width:769px) and (max-width:1200px) {
    .mobile{
        display: none;
    }
}
@media (min-width:1201px) {
    .mobile{
        display: none;
    }
}