*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    text-align: center;
    margin: 50px;
}

span{
    display: block;
    font-size: 20px;
}

h2,h3{
    padding: 10px;
}
p{
    padding: 5px;
}